export(
    submitGREATJob
)

importFrom("RCurl", postForm)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qqcat)
importFrom("GetoptLong", qq.options)
importFrom("rjson", fromJSON)
import(GenomicRanges)
import(IRanges)
importFrom("methods", setRefClass)
exportClasses(GREAT_Job)

