exportMethods(availableCategories)
exportMethods(availableOntologies)
exportMethods(plotRegionGeneAssociationGraphs)
exportMethods(getEnrichmentTables)
exportClasses(GreatJob)
export(submitGreatJob)

importFrom("RCurl", postForm)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qqcat)
importFrom("GetoptLong", qq.options)
importFrom("rjson", fromJSON)
import(GenomicRanges)
import(IRanges)
import(methods)
importFrom("utils", download.file)
importFrom("utils", read.table)
importFrom("utils", txtProgressBar)
importFrom("utils", setTxtProgressBar)

