export("GreatJob")
export("GreatObject")
export("extendTSS")
export("extendTSSFromDataFrame")
export("extendTSSFromOrgDb")
export("extendTSSFromTxDb")
export("getGREATDefaultTSS")
export("getGapFromUCSC")
export("getGeneSetsFromBioMart")
export("getGenesFromGencode")
export("getGenomeDataFromNCBI")
export("getRefSeqGenesFromUCSC")
export("getTSS")
export("great")
export("great_opt")
export("randomRegions")
export("randomRegionsFromBioMartGenome")
export("read_gmt")
export("reduce_by_start_and_end")
export("submitGreatJob")
exportClasses("GreatJob")
export("GreatJob")
exportClasses("GreatObject")
export("GreatObject")
exportMethods("availableCategories")
exportMethods("availableOntologies")
exportMethods("getEnrichmentTable")
exportMethods("getEnrichmentTables")
exportMethods("getRegionGeneAssociations")
exportMethods("plotRegionGeneAssociationGraphs")
exportMethods("plotRegionGeneAssociations")
exportMethods("plotVolcano")
exportMethods("shinyReport")

import(AnnotationDbi)
import(DT)
import(GO.db)
import(GenomeInfoDb)
import(GenomicFeatures)
import(GenomicRanges)
import(GlobalOptions)
import(IRanges)
import(RColorBrewer)
import(Rcpp)
import(S4Vectors)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(TxDb.Hsapiens.UCSC.hg38.knownGene)
import(circlize)
import(digest)
import(doParallel)
import(foreach)
import(graphics)
import(methods)
import(org.Hs.eg.db)
import(progress)
import(shiny, except = c(dataTableOutput, renderDataTable))
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qq.options)
importFrom("GetoptLong", qqcat)
importFrom("RCurl", fileUpload)
importFrom("RCurl", postForm)
importFrom("rjson", fromJSON)
importFrom("stats", "pbinom", "runif")
importFrom("stats", "phyper")
importFrom("stats", p.adjust)
importFrom("utils", "getFromNamespace", "install.packages")
importFrom("utils", download.file)
importFrom("utils", read.table)
importFrom("utils", setTxtProgressBar)
importFrom("utils", txtProgressBar)
importFrom("utils", write.table)
useDynLib(rGREAT, .fixes = "rGREAT_", .registration=TRUE)

